.vscode/*
build/
build_linux_dev_board/
test_data/
test_data_upower/Test_Images
test_data_upower/Test_Images/*
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
